{% extends 'hostels/layout.html' %}
{% block title %} Hostel {% endblock %}
{% block content %}
<div class="d-flex align-items-center justify-content-center" style="height: 80vh;">
    <div class="text-center">
        <h1 class="display-1 fw-bold">Ooops!</h1>
        <p class="fs-3"><span class="text-danger">Hey, you cant use this option</p>
        <p class="lead">
            You are leaving in Kyiv, for more information contact the <a href="https://t.me/nau_srsm"
                                                                         class="link-primary">administration</a>
        </p>
    </div>
</div>


{% endblock %}